.container {
    display: inline-table;
}
.cell {
    height: 30px;
    width: 30px;
    background: rgb(226, 223, 223);
    display: inline-block;
}
.snakePart {
    background-color: black;
}
.food {
    background-color: red;
}
